.members_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.memeberCard{
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px grey;
  background-color: orange;
}

.city{
  color: rgb(21, 21, 216);
}